//  grid calc

$width: 100%;
$cols: 120;  //  define your column number
$gutter: 20px;  //  define your gutter width, must be a pixel value
$margin: $gutter / 2;
$breakpoint: 640px;

.row{
    display: flex;
    flex-direction: row;
}

@for $i from 1 through $cols {
    .cl-#{$i}{
        width: calc((#{$width}) - (#{$margin} * 2));
        margin: $margin;
    }
}

//  mobile classes

@for $i from 1 through $cols {
    @if $i < 2 {
        .cl-sm-#{$i}{ width: calc((#{$width} / #{$cols}) - (#{$margin} * 2)); }
    } @else{
        .cl-sm-#{$i}{ width: calc((#{$width} / (#{$cols} / #{$i})) - (#{$margin} * 2)); }
    }
}

//  desktop classes

@media only screen and (min-width: $breakpoint) {
    @for $i from 1 through $cols {
        @if $i < 2 {
            .cl-#{$i}{ width: calc((#{$width} / #{$cols}) - (#{$margin} * 2)); }
        } @else{
            .cl-#{$i}{ width: calc((#{$width} / (#{$cols} / #{$i})) - (#{$margin} * 2)); }
        }
    }
}
